{% extends 'layout.html' %}

{% block title %}
  {{ super() }} | Shop
{% endblock %}

{% set active_page = 'shop' %}

{% block content %}
<div id="status">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button id="close-button" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="alert-message"></div> 
  </div>
  <hr id="alert-border">
</div>
<h4>This is the cart page
  {% if cart %}
    <span class="float-right">
      <a href="{{ url_for('shop.clear') }}" class="btn btn-outline-danger">Clear cart</a>
    </span>
  {% endif %}
</h4>
<hr>
{% if cart|length == 0 %}
  <h4>There are no items in the cart.</h4>
{% else %}
  <div class="card-body">
    {% for p in products %}
    <!-- PRODUCT -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 text-center">
        <img class="img-responsive" src="{{ p.image }}" alt="{{ p.name }}" width="120" height="80">
      </div>
      <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
        <h4 class="product-name"><strong>{{ p.name }}</strong></h4>
        <!-- <h4>
            <small>Product description</small>
          </h4> -->
      </div>
      <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
          <h6><strong>{{ "${:,.2f}".format(p.price) }} <span class="text-muted">x </span>{{ cart.count(p) }}</strong></h6>
        </div>
        <div class="col-2 col-sm-2 col-md-2 text-right">
          <a href="/shop/remove/{{ p.id }}" class="btn btn-outline-danger btn-xs">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
          <!-- <button type="button" class="btn btn-outline-danger btn-xs">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button> -->
        </div>
      </div>
    </div>
    <hr>
    <!-- END PRODUCT -->
    {% endfor %}
  </div>
  <div class="card-footer">
    <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
      <form action="{{ url_for('shop.useCoupon') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-6">
            {% if coupon %}
            {{ form.entry(id="coupon-entry", class="form-control", placeholder="Coupon code", readonly=True) }}
            {% else %}
              {{ form.entry(id="coupon-entry", class="form-control", placeholder="Coupon code") }}
            {% endif %}
          </div>
          <div class="col-6">
            {% if coupon %}
              <a class="btn btn-outline-dark" href="{{ url_for('shop.removeCoupon') }}">Remove coupon</a>
            {% else %}
              {{ form.submit(class="btn btn-outline-dark") }}
            {% endif %}
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6">
          <div style="margin: 5px 0">
            Subtotal: <b class="float-right">{{ "${:,.2f}".format(subTotal) }}</b>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div style="margin: 5px 0">
            Tax: <b class="float-right">{{ "${:,.2f}".format(tax) }}</b>
          </div>
        </div>
      </div>
      {% if coupon %}
      <div class="row">
        <div class="col-md-6">
          <div style="margin: 5px 0; color: red;">
            Discount: <span class="float-right">- {{ coupon }}%</span>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-6">
          <div style="margin: 5px 0">
            Total: <b  class="float-right">{{ "${:,.2f}".format(grandTotal) }}</b>
          </div>
          <button id="checkout-button" type="button" class="btn btn-success" style="margin: 10px 0">Checkout</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://js.stripe.com/v3"></script>
  <script>
    var stripe = Stripe('{{ key }}');
    var cartSession = '{{ cartSession }}'
    var handler = StripeCheckout.configure({
      key: "{{ key }}",
      image: "{{ url_for('static', filename='images/4.png') }}",
      locale: "auto",
      token: token => {
        fetch("/shop/charge", {
          method: "POST",
          headers: { "Content-Type": "application/json", },
          body: JSON.stringify({
            token: token.id,
            email: token.email,
            amount: parseInt('{{ amount }}', 10),
            description: "Goods & Services",
          }),
        })
        .then(res => {
          if (res.ok) {
            return res.json()
          }
          else {
            throw new Error('Something went wrong.')
          }
        })
        .then(data => {
          sessionStorage.removeItem('cart');
          window.location.href = "/shop/thankyou";
        })
        .catch(err => {
          $('.alert-message').text('Something went wrong.');
          $('#status').css('display', 'inline');
        })
      }
    });

    $('#checkout-button').on('click', (e) => {
      handler.open({
        name: "Zara Consulting, Inc.",
        description: "Goods & Services",
        amount: '{{ amount }}',
      })
      e.preventDefault();
    });

    window.addEventListener('popstate', () => handler.close())
  </script>
{% endblock %}