<h4>Thank you for your order</h4>

<p>Sender: {{ sender }}</p>
<p>Recipient: {{ recipient }}</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.
</p>
<br>
<p>Purchased Item(s): $X.XX</p>
<p>Shipping & Handling: $x.XX</p>
<p>Sales Tax: $X.XX</p>

<p>
  <strong>Total: $X.XX</strong>
</p>

<br>

<small>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius, leo a ullamcorper feugiat, ante purus sodales justo, a faucibus libero lacus a est. Aenean at mollis ipsum.
</small>