<h4>Thanks for your order!</h4>

<p>Hi {{ email }},</p>
<p>We're processing your order. Thanks for shopping with us.</p>
<!-- <p>Shipping & Handling: $x.XX</p>
<p>Sales Tax: $X.XX</p> -->
<div><strong>Order #: {{ order_no }}</strong></div>
<div><strong>Order date: {{ transactionDate }}</strong></div>
<!-- <p>Service: {{ description }}</p> -->
<hr>
<p>
  {% for p in products %}
    <div>
      {{ p.name }}
      <span style="float:right">${{ p.price }} x{{ cart.count(p) }}</span>
      <!-- <cite>
        {{ p.prod_id }}
      </cite> -->
    </div>
    {% endfor %}
    <hr>
  </p>
<p>
  <div>
    Tax
    <span style="float:right;"><strong>{{ tax }}%</strong></span>
  </div>
  <div>
    Discount
    <span style="float:right; color:red;"><strong>- {{ coupon }}%</strong></span>
  </div>
  <div>
    Subtotal
    <span style="float:right;"><strong>${{ "{:,.2f}".format(subtotal) }}</strong></span>
  </div>
  <div>
    Total
    <span style="float:right;"><strong>${{ "{:,.2f}".format(grandTotal) }}</strong></span>
  </div>
</p>

<br>

<small>
  Prices and availability of items may vary and are subject to change without notice. Some items may ship separately due to availability and shipping method.
</small>