{% extends 'layout.html' %}
{% set active_page = 'cart' %}

{% block content %}
<div id="status">
  <div class="alert alert-primary" id="alert" role="alert"></div>
  <hr>
</div>
<h4>This is the cart page</h4>
<hr>
<div class="card-body">
  {% for p in products %}
    <!-- PRODUCT -->
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 text-center">
        <img class="img-responsive" src="{{ p.image }}" alt="{{ p.name }}" width="120" height="80">
      </div>
      <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
        <h4 class="product-name"><strong>{{ p.name }}</strong></h4>
        <!-- <h4>
          <small>Product description</small>
        </h4> -->
      </div>
      <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
          <h6><strong>${{ p.price }} <span class="text-muted">x </span>{{ cart.count(p) }}</strong></h6>
        </div>
        <div class="col-2 col-sm-2 col-md-2 text-right">
          <a href="/remove/{{ p.id }}" class="btn btn-outline-danger btn-xs">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
          <!-- <button type="button" class="btn btn-outline-danger btn-xs">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button> -->
        </div>
      </div>
    </div>
    <hr>
    <!-- END PRODUCT -->
  {% endfor %}
</div>
<div class="card-footer">
  <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
    <div class="row">
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Coupon code">
      </div>
      <div class="col-6">
        <input type="submit" class="btn btn-default" value="Use Coupon">
      </div>
    </div>
  </div>
  <div class="pull-right" style="margin: 10px">
    <button id="checkout-button" type="button" class="btn btn-success pull-right">Checkout</button>
    <div class="pull-right" style="margin: 5px">
      Total price: <b>{{ "${:,.2f}".format(cartTotal) }}</b>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
    var handler = StripeCheckout.configure({
      key: "{{ key }}",
      image: "{{ url_for('static', filename='images/4.png') }}",
      locale: "auto",
      token: token => {
        fetch("/charge", {
          method: "POST",
          headers: { "Content-Type": "application/json", },
          body: JSON.stringify({
            token: token.id,
            email: token.email,
            amount: parseInt('{{ amount }}', 10),
            description: "Goods & Services",
          }),
        })
        .then(res => {
          if (res.ok) {
            return res.json()
          }
          else {
            throw new Error('Something went wrong.')
          }
        })
        .then(data => {
          sessionStorage.removeItem('cart')
          $('#alert').text('Thanks for purchasing!');
          $('#status').css('display', 'inline');
        })
        .catch(err => {
          $('#alert').text('Something went wrong.');
          $('#status').css('display', 'inline');
        })
      }
    });

    $('#checkout-button').on('click', (e) => {
      handler.open({
        name: "Zara Consulting, Inc.",
        description: "Goods & Services",
        amount: "{{ amount }}",
      })
      e.preventDefault();
    });

    window.addEventListener('popstate', () => handler.close())
  </script>
{% endblock %}