{% extends 'layout.html' %}

{% block title %}
  {{ super() }} | Home 
{% endblock %}

{% set active_page = 'index' %}

{% block content %}
<h4>This is the homepage</h4>
<hr>
<div class="row">
  {% for p in products %}
  <div class="col-md-4">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{{ p.images[0] }}" alt="{{ p.name }}">
        <div class="card-body">
          <h4 class="card-title">{{ p.name }}</h4>
          <p class="card-text">${{ p.metadata.price }}</p>
          <a href="/shop/add/{{ p.id }}" class="btn btn-block btn-outline-dark">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}